<div>
    <h2>
        <span jhiTranslate="loggrApp.workLog.home.title">Work Logs</span>
        <button class="btn btn-primary float-right jh-create-entity create-work-log" [routerLink]="['/', { outlets: { popup: ['work-log-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="loggrApp.workLog.home.createLabel">
            Create new Work Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="workLogs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span jhiTranslate="loggrApp.workLog.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDate"><span jhiTranslate="loggrApp.workLog.endDate">End Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="loggrApp.workLog.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="approved"><span jhiTranslate="loggrApp.workLog.approved">Approved</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="projectId"><span jhiTranslate="loggrApp.workLog.project">Project</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creatorId"><span jhiTranslate="loggrApp.workLog.creator">Creator</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let workLog of workLogs ;trackBy: trackId">
                <td><a [routerLink]="['../work-log', workLog.id ]">{{workLog.id}}</a></td>
                <td>{{workLog.startDate | date:'medium'}}</td>
                <td>{{workLog.endDate | date:'medium'}}</td>
                <td jhiTranslate="{{'loggrApp.WorkLogType.' + workLog.type}}">{{workLog.type}}</td>
                <td>{{workLog.approved}}</td>
                <td>
                    <div *ngIf="workLog.projectId">
                        <a [routerLink]="['../project', workLog.projectId  ]" >{{workLog.projectId}}</a>
                    </div>
                </td>
                <td>
                    {{workLog.creatorId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../work-log', workLog.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'work-log/'+ workLog.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'work-log/'+ workLog.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
