<div>
    <h2>
        <span jhiTranslate="loggrApp.statistic.home.title">Work Logs</span>
    </h2>
    <div class="row statistic-container">

        <div class="col-md-6">
            <h3>
                <span jhiTranslate="loggrApp.statistic.project.title">Per Project</span>
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            </h3>

            <jhi-statistic-detail *ngFor="let statistic of statisticPerProject" [statistic]="statistic">
            </jhi-statistic-detail>
        </div>

        <div class="col-md-6">

            <h3>
                <span jhiTranslate="loggrApp.statistic.employee.title">Per Employee</span>
                <i class="fa fa-user" aria-hidden="true"></i>
            </h3>

            <jhi-statistic-detail *ngFor="let statistic of statisticPerEmployee" [statistic]="statistic">
            </jhi-statistic-detail>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-toggle" type="button" (click)="toggleRawDataPerProject()"
                    jhiTranslate="loggrApp.statistic.raw.toggle">
                Toggle
                raw data:
            </button>

            <pre *ngIf="showRawDataPerProject">{{statisticPerProject|json}}</pre>
        </div>
        <div class="col-md-6">
            <button class="btn btn-toggle" type="button" (click)="toggleRawDataPerEmployee()"
                    jhiTranslate="loggrApp.statistic.raw.toggle">
                Toggle
                raw data:
            </button>
            <pre *ngIf="showRawDataPerEmployee">{{statisticPerEmployee|json}}</pre>
        </div>
    </div>
</div>
